.MenuComponent{
  display: grid;
  flex-direction: row;
  align-items: center;
  z-index: 6;
  grid-column: 2/3;
  grid-row: 1/2;
  animation: menuIn 2s;
}
@keyframes menuIn {
  0%{
    transform: translateY(-40vh);
  }
}

.MenuTabs{
  display: flex;
}
@media only screen and (max-width: 882px) {
    .MenuComponent{
      grid-column: 1/2;
      grid-row: 2 / 3;
      width: 100%;
    }
    .MenuTabs{
      width: 100%;
    }
}
@media only screen and (max-width: 580px) {
    .MenuComponent{
      grid-column: 1/2;
      grid-row: 1 / 3;
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-color: #689F38;
      animation: none;
      display: flex;
      transform: scaleX(0);
    }
    .MenuTabs{
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 20px;
    }
    .menuFix{
      transition: .3s;
      position: fixed;
      top: 0;
      bottom: auto;
    }
    .menuVisible{
      transform: scaleX(1);
    }

}
