.section{
  justify-content: center;
}
.sectionDivisor{
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
  cursor: pointer;
}
.sectionDivisor:hover .divisorCenter{
  background-color: #333333;
  cursor: pointer;
  transition: .5s;
  transform: rotateZ(225deg)scale(1.1);

}
.sectionTitle{
  text-align: center;
  margin: 10vh auto 10px auto;
  width: fit-content;
}

.divisor{
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10px 1fr;
  grid-gap: 7px;
  align-self: center;
  height: 8px;
  margin: auto;
  transform: scale(1.2);
}
.divisorRight, .divisorLeft {
  height: 2px;
  background-color: #689F38;
  align-self: center;
}

.divisorCenter{
  transition: .3s;
  width: 8px;
  background-color: #689F38;
  transform: rotate(45deg);
}


@media only screen and (max-width: 580px) {
    .sectionDivisor{
      width: auto;
    }
    .divisor{
      width: 60%;
    }
}
